.profile-container {
  max-width: 1024px;
  margin: 74px auto;
  box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);

  .title {
    width: 100%;
    background-color: #1f8efa;
    padding: 20px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h2 {
      font-size: 22px;
      line-height: 26px;
      font-weight: 500;
      color: #ffffff;
      margin: 0;
    }
  }

  form {
    padding: 20px;
    .info-block {
      width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 2px 4px #eeeeee;
      margin-bottom: 25px;
      padding: 20px 25px;
      label {
        display: block;
        margin-bottom: 15px;
      }
      input {
        display: block;
        padding: 10px 50px 10px 20px;
        border: 1px solid #d9d9d9;
        border-radius: 24px;
      }
      img {
        width: 120px;
      }
    }
  }
}
