.profile-setting-page {
  .profile-container {
    padding-top: 56px;
    .input-block {
      display: flex;
      button {
        background-color: transparent;
        border: transparent;
        margin-left: 25px;
        color: #1f8efa;
        cursor: pointer;
      }
    }

    .info-block:last-of-type {
      .input-block {
        .file-block {
          border: 1px solid #d9d9d9;
          border-radius: 16px;
          input {
            padding-right: 10px;
            border: none;
          }
          img {
            margin: 0 0 10px 20px;
          }
        }
      }
    }
  }
}
